<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
		http://www.springframework.org/schema/context   
		http://www.springframework.org/schema/context/spring-context-3.0.xsd   
		http://www.springframework.org/schema/tx   
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd   
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd" default-lazy-init="true">
		<!-- 开启包组件扫描 -->
		<context:component-scan base-package="com.entor"/>
		<!-- 配置数据源 -->
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
			<property name="driverClassName" value="com.mysql.jdbc.Driver" />
	        <property name="url" value="jdbc:mysql://localhost:3306/lch?useUnicode=true&amp;characterEncoding=utf-8" />
	        <property name="username" value="root" />
	        <property name="password" value="root" />
		</bean>
		<!-- 配置会话工厂SqlSessionFactory -->
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
			<!-- 指定数据源 -->
			<property name="dataSource" ref="dataSource" />
			<!-- 自动扫描mapper.xml映射文件，**表示迭代查找 -->
        	<property name="mapperLocations" value="classpath:com/entor/mapper/**/*.xml" />
        	<!-- 指定包中的实体类别名 -->
        	<property name="typeAliasesPackage" value="com.entor.entity"/>
		</bean>
		<!-- 配置事务管理 -->
		<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="dataSource" />
		</bean>
		<!-- 事务传播特性 ,对方法名以add,delete,update,modify,save开头的开启事务管理，其他的不开启-->
		<tx:advice id="advice" transaction-manager="transactionManager">
			<tx:attributes>
				<tx:method name="add*" propagation="REQUIRED"/>
				<tx:method name="delete*" propagation="REQUIRED"/>
				<tx:method name="update*" propagation="REQUIRED"/>
				<tx:method name="modify*" propagation="REQUIRED"/>
				<tx:method name="save*" propagation="REQUIRED"/>
				<tx:method name="*" propagation="NOT_SUPPORTED" read-only="true"/>
			</tx:attributes>
		</tx:advice>
		<!-- 配置AOP -->
		<aop:config>
			<aop:pointcut expression="execution(* com.entor.service.impl.*.*(..))" id="pointcut"/>
			<aop:advisor advice-ref="advice" pointcut-ref="pointcut"/>
		</aop:config>
</beans>