<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Student">
	
	<insert id="add" parameterType="Student">
		insert into student(name,username,password,sex,age,birthday,createTime)
		values(#{name},#{username},#{password},#{sex},#{age},#{birthday},#{createTime})
	</insert>
	<insert id="addMore">
		insert into student(name,username,password,sex,age,birthday,createTime) values 
		<foreach collection="list" item="s" separator=",">
			(#{s.name},#{s.username},#{s.password},#{s.sex},#{s.age},#{s.birthday},#{s.createTime})
		</foreach>
	</insert>
	<update id="update" parameterType="Student">
		update student set
		name = #{name},
		username = #{username},
		password = #{password},
		sex = #{sex},
		age = #{age},
		birthday = #{birthday},
		createTime = #{createTime}
		where id = #{id}
	</update>
	<select id="queryById" resultType="Student">
		select id,name,username,password,sex,age,birthday,createTime from student where id = #{id}
	</select>
	<select id="queryAll" resultType="Student">
		select id,name,username,password,sex,age,birthday,createTime from student where id&lt;100
	</select>
	<select id="queryByPage" parameterType="map" resultType="Student">
		select id,name,username,password,sex,age,birthday,createTime from student limit #{start},#{pageSize}
	</select>
	<select id="queryByUsername" resultType="Student">
		<!-- 
		select id,name,username,password,sex,age,birthday,createTime from student where username like "%"#{username}"%"
		-->
		select id,name,username,password,sex,age,birthday,createTime from student where username like concat(concat('%',#{username}),'%')
	</select>
	<select id="getTotals" resultType="int">
		select count(*) from student
	</select>
	<delete id="deleteById">
		delete from student where id = #{id}
	</delete>
	<delete id="deleteMore">
		delete from student where id in
		<foreach collection="array" open="(" close=")" separator="," item="id">
			#{id}
		</foreach>
	</delete>
</mapper>